.gf-repo {
	background: #edffed;
	border: 1px solid lightgrey;
	margin: 0 auto; 
	margin-bottom: 20px; 
	padding: 40px; 
	width: 75%; 
}

.gf-header {
	font-size: 1.4rem; 
	font-weight: normal;
	margin-bottom: 20px;
	text-align: center;
}

.gf-subhead {
	margin-bottom: 40px;
	text-align: center;
}

.gf-repohead {
	font-size: 1.3rem; 
	margin-bottom: 20px;
	text-align: center;
}

.gf-green {
	color: green;
}

.gf-link {
	color: #0000EE;
}